#
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
Defaults        env_reset
Defaults        mail_badpass
Defaults        secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"

# User alias specification

# Cmnd alias specification

# User privilege specification
root    ALL=(ALL:ALL) ALL

# Members of the admin group may gain root privileges
%admin ALL=(ALL) ALL
%wheel ALL=(ALL) ALL
# Allow members of group sudo to execute any command
%sudo   ALL=(ALL:ALL) ALL

## allow all members of group "operations" full sudo.
%operations ALL=(ALL) NOPASSWD: ALL

## allow members of machinelearning sudo on thir machines
## AIDEPLOY exists as hostalias above. also GPUSERVERS
##%machinelearning AIDEPLOY=(ALL) NOPASSWD: ALL
##%machinelearning GPUSERVERS=(ALL) NOPASSWD: ALL


## add specific names from operations
{% for user in users %}
{% for group in user.user_groups %}
{% if group == 'operations' %}
{{ user.name }} ALL=(ALL) NOPASSWD: ALL
{% endif %}
{% endfor %}
{% endfor %}

## add users from the ansible yaml and populate this file.
{% for user in users %}
{% if (user.sudo is defined) and user.sudo %}
{% for sudohostname in user.sudo %}
{% if sudohostname != 'all' %}
{{ user.name }}   {{ sudohostname }}=(ALL) NOPASSWD: ALL
{% endif %}
{% endfor%}
{% endif %}
{% endfor %}


# See sudoers(5) for more information on "#include" directives:

#includedir /etc/sudoers.d
