#######################################################
#                 AlifTech AB                         #
#                                                     #
# Access to this system is restricted to employees    #
# of Dicode ab. execute caution. think twice.         #
# Do not make manual changes as root that are subject #
# to ansible control. // The OpsTeam                  #
# root access is only done through the sudo command   #
#######################################################
